:root {
  --transition-duration: 250ms;

  /* Light Theme */
  --background-color-light: white;
  --color-light: black;

  /* Dark Theme */
  --background-color-dark: black;
  --color-dark: white;

  --border-color: gray;
  --font-size-sm: 0.85rem;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;

  font-family: var(--font-atkinson);
  background-color: var(--background-color-light);
  color: var(--color-light);

  transition-property: all;
  transition-duration: var(--transition-duration);
}

.dark body {
  background-color: var(--background-color-dark);
  color: var(--color-dark);
}

main {
  flex: 1;
  padding: 0.5rem;
}

@media (min-width: 768px) {
  main {
    width: 60%;
    margin-inline: auto;
  }
}
