/**
 * Display
 */

.inline-flex {
  display: inline-flex;
}

/**
 * Flexbox
 */
.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.gap-1 {
  gap: 1rem;
}

.gap-2 {
  gap: 2rem;
}

/**
 * Font Size
 */
.font-md {
  font-size: 1.15rem;
}

.font-lg {
  font-size: 1.75rem;
}

/**
 * Width
 */
.w-full {
  width: 100%;
}

.max-w-full {
  max-width: 100%;
}

.max-width-2xl {
  max-width: 42rem;
}

.flex-1 {
  flex: 1;
}

.object-contain {
  object-fit: contain;
}

/**
 * Margin
 */
.m-0 {
  margin: 0;
}

.mb-1 {
  margin-bottom: 1rem;
}

/**
 * Padding
 */
.p-1 {
  padding: 1rem;
}

/**
 * Text
 */
.text-center {
  text-align: center;
}

.no-underline {
  text-decoration: none;
}

/**
 * Small screen breakpoint
 */
@media (min-width: 40rem) {
  .sm\:flex-row {
    flex-direction: row;
  }

  .sm\:mb-0 {
    margin-bottom: 0;
  }

  .sm\:max-w-1\/2 {
    max-width: 50%;
  }

  .sm\:text-left {
    text-align: left;
  }
}
